*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.claude_key
.phpunit.result.cache
/.claude
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/public/webhook-deploy.php
/deploy-practice.ps1
/storage/*.key
/storage/pail
/storage/composer-home
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
